@import 'vars';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;}   


body {
    font-family: "Josefin Sans", "arial";
} 

a, input, button {
    font: inherit;
    text-decoration: none;
}

.center { 
    padding-left: calc(50% - 1360px / 2);
    padding-right: calc(50% - 1360px / 2);
}

.header {
    background: $bg;

    .header__up {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-fr-button {
            font-weight: 400;
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0.2px;
            background-color: transparent;
            border: 2px solid $yellow;
            padding: 20px 57px;
            color: white;
        }

        &-sc-button {
            border: 2px solid $yellow;
            background-color: $yellow;
            color: black;
            font-size: 22px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0.44px;
            padding: 20px 86px;
        }
    }
}

.heading {
    border-top: 1px solid $bg-el;
    border-bottom: 1px solid $bg-el;
    background-color: $bg;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-box {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        gap: 60px;
        list-style-type: none;

        &-links {
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.2px;
            color: white;
        }
    }

    &__icons {
        display: flex;
        gap: 20px;
    }
}

.home {
    background-color: $bg;
    display: flex;
    justify-content: space-between;

    &__content {
        padding-top: 220px;
        padding-bottom: 176px;
    }

    &__title {
        font-family: "Cormorant Infant";
        color: white;
        font-size: 100px;
        font-weight: 400;
        line-height: 110px;
        letter-spacing: 0.2px;
        max-width: 470px;
        padding-bottom: 26px;
    }

    &__subtitle {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: white;
        max-width: 616px;
        padding-bottom: 35px;
    }

    &__button {
        border: 2px solid $yellow;
        background: transparent;
        color: $yellow;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.2px;
        padding: 20px 57px;
    }

    &__img {
        margin-top: 10px;
        margin-right: 10px;
        height: 800px;
    }
}

.about {
    background-color: #FFF8F5;

    &__info {
        padding-top: 100px;
        padding-bottom: 144px;
        display: flex;
        gap: 30px;
    }

    &__item {
        display: flex;
        gap: 20px;
    }

    &__group {
        display: flex;
        gap: 70px;
    }

    &__title {
        font-family: "Cormorant Infant";
        font-size: 30px;
        font-weight: 400;
        line-height: 39px;
        letter-spacing: 0.2px;
        padding-bottom: 5px;
    }

    &__subtitle {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.2px;
    }

    &__story {
        display: flex;
        gap: 45px;
        padding-bottom: 125px;

        &-content {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        &-plan {
            display: flex;
            gap: 50px;
        }

        &-title {
            font-family: "Cormorant Infant";
            font-size: 40px;
            font-weight: 400;
            line-height: 56px;
            letter-spacing: 0.2px;
            padding-top: 15px;
        }

        &-sub {
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.2px;


            &_litle {
                max-width: 248px;
            }
        }

        &-signat {
            padding-right: 372px;
        }
    }
}

.menu {
    padding-top: 140px;
    padding-bottom: 140px;

    &__title {
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px;
        letter-spacing: 3px;
        border-top: 1px solid $yellow;
        border-bottom: 1px solid $yellow;
        max-width: 60px;
        margin-bottom: 12px;
        padding-top: 4px;
    }

    &__parts {
        display: flex;
        gap: 56px;
        padding-bottom: 200px;
    }

    &__presentation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;

        &-info {
            max-width: 486px;
        }

        &-title {
            font-family: "Cormorant Infant";
            font-size: 40px;
            font-weight: 400;
            line-height: 56px;
            letter-spacing: 0.2px;
            padding-bottom: 12px;
        }

        &-sub {
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.2px;
        }

        &-btn {
            font-size: 22px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0.2px;
            color: $yellow;
            border: 2px solid $yellow;
            padding: 20px 58px;
            background: transparent;
            margin-top: 30px;
        }
    }

    &__sections {
        display: flex;
        flex-direction: column;
        gap: 74px;
    }

    &__area {

        &-title {
            font-family: "Cormorant Infant";
            font-size: 36px;
            font-weight: 400;
            line-height: 50.4px;
            letter-spacing: 0.2px;
            padding-bottom: 40px;
        }

        &-parts {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }

        &-dish {
            display: flex;
            gap: 20px;
        }

        &-name {
            font-family: "Cormorant Infant";
            font-size: 30px;
            font-weight: 400;
            line-height: 42px;
            letter-spacing: 0.2px;
        }

        &-sub {
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.2px;
            color: #555555;

            &_infant {
                font-family: "Cormorant Infant";
                font-size: 30px;
                line-height: 42px;
                color: black;
            }
        }
    }
}

.testimonial {
    background-color: $bg;
    padding-bottom: 130px;

    &__div {
    padding-top: 140px;
    }

    &__name {
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px;
        letter-spacing: 3px;
        color: white;
        border-top: 1px solid $yellow;
        border-bottom: 1px solid $yellow;
        max-width: 140px;
        padding-top: 4px;
        margin-bottom: 12px;
    }

    &__title {
        font-family: "Cormorant Infant";
        font-size: 40px;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: 0.2px;
        color: white;
        padding-bottom: 8px;
    }

    &__sub {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: white;
    }

    &__fb {
        padding-top: 80px;
        display: flex;
        gap: 30px;
        padding-left: calc(50% - 1320px / 2);
        overflow: hidden;
        padding-bottom: 80px;


        &-card {
            background: $bg-el;
            padding-left: 40px;
            max-width: 544px;
            padding-right: 40px;
        }

        &-up {
            display: flex;
            gap: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #797E89;
            max-width: 464px;
        }

        &-svg {
            position: absolute;
            z-index: 1;
        }

        &-img {
            position: relative;
        }

        &-id {
            font-family: "Cormorant Infant";
            font-size: 30px;
            font-weight: 400;
            line-height: 42px;
            letter-spacing: 0.2px;
            color: white;
        }

        &-from {
            color: $yellow;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.2px;
        }

        &-comm {
            padding-top: 32px;
            font-family: "Cormorant Infant";
            font-size: 24px;
            font-weight: 400;
            line-height: 37.5px;
            letter-spacing: 0.25px;
            color: white;
            width: 454px;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 8px;
    }

    &__dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #797E89;
        display: inline-block;
    }
}

.img {
    width: 100%;
}

.offers {
    padding-top: 140px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__name {
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px;
        letter-spacing: 3px;
        border-top: 1px solid $yellow;
        border-bottom: 1px solid $yellow;
        max-width: 78px;
        padding-top: 4px;
    }

    &__title {
        font-family: "Cormorant Infant";
        font-size: 40px;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: 0.2px;
        padding-top: 12px;
        padding-bottom: 8px;
    }

    &__sub {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.2px;
        max-width: 814px;
        color: #555555;
        text-align: center;
    }
}
