@import 'vars';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;}   


body {
    font-family: "Josefin Sans", "arial";
} 

a, input, button {
    font: inherit;
    text-decoration: none;
}

.center { 
    padding-left: calc(50% - 1360px / 2);
    padding-right: calc(50% - 1360px / 2);
}

.header {
    background: $bg;

    .header__up {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-fr-button {
            font-weight: 400;
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0.2px;
            background-color: transparent;
            border: 2px solid $yellow;
            padding: 20px 57px;
            color: white;
        }

        &-sc-button {
            border: 2px solid $yellow;
            background-color: $yellow;
            color: black;
            font-size: 22px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0.44px;
            padding: 20px 86px;
        }
    }
}

.heading {
    border-top: 1px solid $bg-el;
    border-bottom: 1px solid $bg-el;
    background-color: $bg;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-box {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        gap: 60px;

        &-links {
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.2px;
            color: white;
        }
    }

    &__icons {
        display: flex;
        gap: 20px;
    }
}

.home {
    background-color: $bg;
    display: flex;
    justify-content: space-between;

    &__content {
        padding-top: 220px;
        padding-bottom: 176px;
    }

    &__title {
        font-family: "Cormorant Infant";
        color: white;
        font-size: 100px;
        font-weight: 400;
        line-height: 110px;
        letter-spacing: 0.2px;
        max-width: 470px;
        padding-bottom: 26px;
    }

    &__subtitle {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: white;
        max-width: 616px;
        padding-bottom: 35px;
    }

    &__button {
        border: 2px solid $yellow;
        background: transparent;
        color: $yellow;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.2px;
        padding: 20px 57px;
    }

    &__img {
        margin-top: 10px;
        margin-right: 10px;
        height: 800px;
    }
}
