* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", "arial";
}

a, input, button {
  font: inherit;
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 680px);
  padding-right: calc(50% - 680px);
}

.header {
  background: #292E36;
}
.header__up {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__up-fr-button {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  background-color: transparent;
  border: 2px solid #E1B168;
  padding: 20px 57px;
  color: white;
  transition: all 0.5s;
}
.header__up-fr-button:hover {
  background-color: #E1B168;
  color: #292E36;
}
.header__up-sc-button {
  border: 2px solid #E1B168;
  background-color: #E1B168;
  color: black;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.44px;
  padding: 20px 86px;
  transition: all 0.5s;
}
.header__up-sc-button:hover {
  background-color: #292E36;
  color: white;
  cursor: pointer;
}

.heading {
  border-top: 1px solid #343942;
  border-bottom: 1px solid #343942;
  background-color: #292E36;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading-box {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  gap: 60px;
  list-style-type: none;
}
.heading-box-links {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: white;
  transition: all 0.5s;
}
.heading-box-links:hover {
  color: #E1B168;
  text-decoration: underline;
}
.heading__icons {
  display: flex;
  gap: 20px;
}
.heading__icons-svg path {
  transition: all 0.5s;
}
.heading__icons-svg:hover path {
  fill: #E1B168;
}

.home {
  background-color: #292E36;
  display: flex;
  justify-content: space-between;
}
.home__content {
  padding-top: 220px;
  padding-bottom: 176px;
}
.home__title {
  font-family: "Cormorant Infant";
  color: white;
  font-size: 100px;
  font-weight: 400;
  line-height: 110px;
  letter-spacing: 0.2px;
  max-width: 470px;
  padding-bottom: 26px;
}
.home__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: white;
  max-width: 616px;
  padding-bottom: 35px;
}
.home__button {
  border: 2px solid #E1B168;
  background: transparent;
  color: #E1B168;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  padding: 20px 57px;
  transition: all 0.5s;
}
.home__button:hover {
  background-color: #E1B168;
  color: #292E36;
}
.home__img {
  margin-top: 10px;
  margin-right: 10px;
  height: 800px;
}

.about {
  background-color: #FFF8F5;
}
.about__info {
  padding-top: 100px;
  padding-bottom: 144px;
  display: flex;
  gap: 30px;
}
.about__item {
  display: flex;
  gap: 20px;
}
.about__links {
  transition: all 0.5s;
}
.about__links:hover {
  transform: scale(1.2);
}
.about__group {
  display: flex;
  gap: 70px;
}
.about__title {
  font-family: "Cormorant Infant";
  font-size: 30px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.2px;
  padding-bottom: 5px;
}
.about__subtitle, .blog__story-sub, .blog__sub, .info__sub, .popular__item-description, .popular__sub, .offers__sub, .testimonial__sub, .menu__area-sub, .menu__presentation-sub, .about__story-sub {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #555555;
}
.about__story {
  display: flex;
  gap: 45px;
  padding-bottom: 125px;
}
.about__story-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about__story-plan {
  display: flex;
  gap: 50px;
}
.about__story-title, .reservation__title, .blog__title, .info__title, .popular__title, .offers__subname, .offers__title, .testimonial__title, .menu__presentation-title {
  font-family: "Cormorant Infant";
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0.2px;
}
.about__story-sub_litle {
  max-width: 248px;
}
.about__story-signat {
  padding-right: 372px;
}

.menu {
  padding-top: 140px;
}
.menu__title, .footer__hours-name, .footer__contacts-name, .reservation__name, .blog__story-name, .blog__story-date, .blog__name, .info__name, .popular__name, .offers__name, .testimonial__name {
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  letter-spacing: 3px;
  border-top: 1px solid #E1B168;
  border-bottom: 1px solid #E1B168;
  max-width: 60px;
  padding-top: 4px;
}
.menu__parts {
  display: flex;
  gap: 56px;
  padding-bottom: 200px;
  padding-top: 12px;
}
.menu__presentation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.menu__presentation-info {
  max-width: 486px;
}
.menu__presentation-title {
  padding-bottom: 12px;
}
.menu__presentation-btn, .popular__btn {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #E1B168;
  border: 2px solid #E1B168;
  padding: 20px 58px;
  background: transparent;
  margin-top: 30px;
  transition: all 0.5s;
}
.menu__presentation-btn:hover, .popular__btn:hover {
  background-color: #343942;
  border-color: #343942;
  cursor: pointer;
}
.menu__sections {
  display: flex;
  flex-direction: column;
  gap: 74px;
}
.menu__area-title {
  font-family: "Cormorant Infant";
  font-size: 36px;
  font-weight: 400;
  line-height: 50.4px;
  letter-spacing: 0.2px;
  padding-bottom: 40px;
}
.menu__area-parts {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.menu__area-dish {
  display: flex;
  gap: 20px;
  transition: all 0.5s;
  border-radius: 6px;
}
.menu__area-dish:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.menu__area-img {
  border-radius: 6px;
}
.menu__area-name, .popular__item-name {
  font-family: "Cormorant Infant";
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.2px;
}
.menu__area-sub-infant {
  font-family: "Cormorant Infant";
  font-size: 30px;
  line-height: 42px;
  color: black;
}

.testimonial {
  background-color: #292E36;
  padding-bottom: 130px;
}
.testimonial__div {
  padding-top: 140px;
}
.testimonial__name {
  max-width: 140px;
  color: white;
}
.testimonial__title {
  color: white;
  padding-bottom: 8px;
  padding-top: 12px;
}
.testimonial__sub {
  color: white;
}
.testimonial__carousel {
  width: 100%;
  overflow: hidden;
}
.testimonial__fb {
  padding-top: 80px;
  display: flex;
  gap: 30px;
  padding-left: calc(50% - 660px);
  padding-bottom: 80px;
  width: 100%;
  transition: transform 0.8s ease-in-out;
}
.testimonial__fb-card {
  background: #343942;
  padding-left: 40px;
  max-width: 544px;
  padding-right: 40px;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}
.testimonial__fb-card.active {
  opacity: 1;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  z-index: 10;
}
.testimonial__fb-up {
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #797E89;
  max-width: 464px;
}
.testimonial__fb-svg {
  position: absolute;
  z-index: 1;
}
.testimonial__fb-img {
  position: relative;
}
.testimonial__fb-id {
  font-family: "Cormorant Infant";
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.2px;
  color: white;
}
.testimonial__fb-from {
  color: #E1B168;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
}
.testimonial__fb-comm {
  padding-top: 32px;
  font-family: "Cormorant Infant";
  font-size: 24px;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: 0.25px;
  color: white;
  width: 454px;
}
.testimonial__list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.testimonial__indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #797E89;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.testimonial__indicator.active {
  background-color: white;
}

.img {
  width: 100%;
  display: block;
}

.offers {
  padding-top: 140px;
  padding-bottom: 40px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offers__name {
  max-width: 78px;
  padding-top: 4px;
}
.offers__title {
  padding-top: 12px;
  padding-bottom: 8px;
}
.offers__sub {
  max-width: 814px;
  text-align: center;
}
.offers__div {
  display: flex;
  gap: 30px;
  padding-top: 40px;
}
.offers__item {
  background: url(img/10.svg) no-repeat 30px 66px, url(img/offers1.svg) no-repeat;
  transition: all 0.5s;
}
.offers__item-1 {
  background: url(img/9.svg) no-repeat 26px 64px, url(img/offers2.svg) no-repeat;
  transition: all 0.5s;
}
.offers__item-1:hover {
  transform: scale(1.04);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.offers__item:hover {
  transform: scale(1.04);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.offers__content {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
}
.offers__price-box {
  display: flex;
  flex-direction: column;
  padding-top: 82px;
  padding-left: 30px;
  padding-bottom: 50px;
}
.offers__only {
  font-size: 15px;
  font-weight: 400;
  line-height: 10.5px;
  letter-spacing: 0.15px;
  padding-left: 20px;
}
.offers__only-1 {
  color: white;
}
.offers__price {
  font-family: "Cormorant Infant";
  font-size: 60px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0.2px;
}
.offers__price-1 {
  color: white;
  padding-left: 15px;
}
.offers__sale {
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  letter-spacing: 4.5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  max-width: 212px;
  padding-top: 4px;
}
.offers__subname {
  padding-top: 6px;
  padding-bottom: 6px;
}
.offers__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #555555;
  max-width: 245px;
  padding-bottom: 45px;
}

.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 140px;
}
.popular__name {
  max-width: 78px;
}
.popular__title {
  padding-top: 12px;
  padding-bottom: 8px;
}
.popular__sub {
  padding-bottom: 50px;
  max-width: 760px;
  text-align: center;
}
.popular__div {
  display: flex;
  gap: 30px;
  padding-bottom: 36px;
}
.popular__item {
  transition: all 0.5s;
  border-radius: 6px;
}
.popular__item-div {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DCDCDC;
}
.popular__item-description {
  padding-top: 15px;
}
.popular__item:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.info {
  background-color: #292E36;
  padding-bottom: 140px;
}
.info__content {
  display: flex;
  gap: 100px;
  padding-top: 140px;
}
.info__name {
  max-width: 172px;
  color: white;
}
.info__title {
  padding-top: 10px;
  padding-bottom: 12px;
  color: white;
}
.info__sub {
  color: white;
  max-width: 438px;
}
.info__variantion {
  display: flex;
  gap: 30px;
}
.info__card {
  border: 20px solid #343942;
  padding: 120px 44px 40px 44px;
  background: url(img/opened.svg) no-repeat 78px 45px;
}
.info__card-2 {
  border: 20px solid #343942;
  padding: 120px 34px 40px 34px;
  background: url(img/menu.svg) no-repeat 78px 45px;
}
.info__card-3 {
  border: 20px solid #343942;
  padding: 120px 30px 40px 30px;
  background: url(img/delivery.svg) no-repeat 78px 45px;
}
.info__card-name {
  font-family: "Cormorant Infant";
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.2px;
  color: white;
}

.blog {
  padding-top: 140px;
  padding-bottom: 150px;
}
.blog__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.blog__name {
  max-width: 56px;
}
.blog__title {
  padding-top: 12px;
  padding-bottom: 8px;
}
.blog__sub {
  max-width: 465px;
  text-align: center;
}
.blog__parts {
  display: flex;
  gap: 50px;
}
.blog__story {
  border: solid 1px #C4C4C4;
}
.blog__story-img, .blog__story-img-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(img/story1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.blog__story-img-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(img/story2.jpg);
}
.blog__story-btn {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.44px;
  background-color: #E1B168;
  border: none;
  border: none;
  padding: 20px 58px;
  margin: 156px;
  transition: all 0.5s;
}
.blog__story-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.blog__story-value {
  display: flex;
  gap: 30px;
  padding-left: 46px;
}
.blog__story-name, .blog__story-date {
  max-width: 165px;
}
.blog__story-info {
  padding: 26px 46px 38px 46px;
}
.blog__story-title {
  max-width: 502px;
  font-family: "Cormorant Infant";
  font-size: 30px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.2px;
  padding-bottom: 24px;
}
.blog__story-sub {
  max-width: 547px;
}

.reservation {
  background-image: url(img/reserve.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.reservation__bg {
  padding: 140px 260px;
}
.reservation__content {
  background: rgba(41, 46, 54, 0.95);
}
.reservation__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 38px;
  padding-top: 140px;
}
.reservation__name {
  color: white;
  max-width: 142px;
}
.reservation__title {
  color: white;
  padding-top: 12px;
}
.reservation__form {
  padding-left: 140px;
  padding-right: 140px;
  padding-bottom: 156px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reservation__group {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 24px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-bottom: 30px;
}
.reservation__input {
  grid-column: span 4;
  padding: 18px 0 19px 23px;
  border: 1px solid #858585;
  background: transparent;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.2px;
}
.reservation__input::-moz-placeholder {
  color: white;
}
.reservation__input::placeholder {
  color: white;
}
.reservation__input:focus {
  outline: none;
  color: white;
}
.reservation__input_big {
  grid-column: span 6;
}
.reservation__btn {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.2px;
  padding: 23px 54px 12px;
  background-color: white;
  border: none;
  transition: all 0.5s;
}
.reservation__btn:hover {
  background-color: #E1B168;
  color: #292E36;
  cursor: pointer;
}

.footer {
  background-color: #292E36;
}
.footer__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 130px;
}
.footer__hashtag {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: white;
  padding-bottom: 60px;
}
.footer__sub {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: white;
  max-width: 304px;
  text-align: center;
  margin-left: 38px;
  padding-top: 10px;
}
.footer__social {
  display: flex;
  gap: 20px;
  padding-bottom: 60px;
}
.footer__social-icons path {
  transition: all 0.5s;
}
.footer__social-icons:hover path {
  fill: #E1B168;
}
.footer__down {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 24px;
}
.footer__contacts, .footer__hours {
  display: flex;
  flex-direction: column;
}
.footer__contacts-name {
  color: white;
  max-width: 94px;
  margin-bottom: 32px;
}
.footer__contacts-item, .footer__contacts-item-yellow {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: white;
}
.footer__contacts-item-yellow {
  color: #E1B168;
  transition: all 0.5s;
}
.footer__contacts-item-yellow:hover {
  color: #575B62;
}
.footer__form {
  margin-top: 15px;
  margin-bottom: 66px;
  border: 1px solid #575B62;
}
.footer__form-input {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.2px;
  padding: 16px 303px 18px 24px;
  border: none;
  background: transparent;
}
.footer__form-input:focus {
  outline: none;
  color: white;
}
.footer__form-btn {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.2px;
  padding: 16px 40px 18px 40px;
  border: none;
  transition: all 0.5s;
}
.footer__form-btn:hover {
  background-color: #E1B168;
  color: #292E36;
  cursor: pointer;
}
.footer__hours {
  text-align: right;
}
.footer__hours-name {
  color: white;
  max-width: 176px;
  margin-bottom: 30px;
  margin-left: 88px;
}
.footer__hours-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #E1B168;
}
.footer__hours-item-white {
  color: white;
}
.footer__rights {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #575B62;
  padding: 26px 0 26px;
}
.footer__rights-sub {
  padding-left: calc(50% - 680px);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: white;
}
.footer__rights-sub-autors {
  color: #E1B168;
  transition: all 0.5s;
}
.footer__rights-sub-autors:hover {
  color: #575B62;
}
.footer__rights-links {
  display: flex;
  gap: 20px;
  padding-right: calc(50% - 680px);
}
.footer__rights-items {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #E1B168;
  transition: all 0.5s;
}
.footer__rights-items:hover {
  color: #575B62;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 395px);
    padding-right: calc(50% - 395px);
  }
}/*# sourceMappingURL=style.css.map */